body{
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vw;
}
header{
    display: flex;
    justify-content: center;
    /* border: 2px solid; */
    width: 100%;
}

#form{
    /* border: 2px solid; */
    width: 50%;
    display: flex;
    justify-content: center;
}

#data{
    height: 50px;
    width: 350px;
    margin-right: 2%;
}